//
	$$\   $$\                 $$\                             $$\       $$\             $$\
	$$$\  $$ |                $$ |                            $$ |      \__|            $$ |
	$$$$\ $$ | $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$$\         $$ |      $$\  $$$$$$$\ $$$$$$\
	$$ $$\$$ |$$  __$$\ $$  __$$ |$$  __$$\ $$  _____|$$$$$$\ $$ |      $$ |$$  _____|\_$$  _|
	$$ \$$$$ |$$ /  $$ |$$ /  $$ |$$$$$$$$ |\$$$$$$\  \______|$$ |      $$ |\$$$$$$\    $$ |
	$$ |\$$$ |$$ |  $$ |$$ |  $$ |$$   ____| \____$$\         $$ |      $$ | \____$$\   $$ |$$\
	$$ | \$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |        $$$$$$$$\ $$ |$$$$$$$  |  \$$$$  |
	\__|  \__| \______/  \_______| \_______|\_______/         \________|\__|\_______/    \____/

div(ng-controller='RegistrationListCtrl')

	h4 List View

	div(ng-init='loadData()')

	table.table.table-striped(st-safe-src='registrations', st-table='displayedCollection')
		thead
			tr
				th(st-sort='nodeId') 			NodeId
				th(st-sort='description') 		Description
				th(st-sort='status') 			Status
				th(st-sort='latitude') 			Latitude
				th(st-sort='longitude') 		Longitude
				th(st-sort='altitude') 			Altitude
				th(st-sort='originTimestamp') Origin Timestamp
				th(st-sort='updated') 			Updated
		tbody
				tr(ng-repeat='registration in displayedCollection')
					td {{registration.data.message.node.nodeId}}
					td {{registration.data.message.node.description}}
					td {{registration.data.message.node.status}}
					td {{registration.data.message.node.location.latitude}}
					td {{registration.data.message.node.location.longitude}}
					td {{registration.data.message.node.location.altitude}}
					td {{registration.data.message.originTimestamp}}
					td {{registration.data.data.message.updated}}



