extends layout

block head

block body

    div(ng-controller='AppCtrl')
        nav.navbar.navbar-default
            div.collapse.navbar-collapse

                ul.nav.navbar-nav.navbar-left
                    li
                        a(href="/nodes-list") List
                    li
                        a(href="/node-detail") Detail
                    li
                        a(href="/settings") Settings

    div.container-fluid
        div(ng-view).row
